{# --- redirect to https --- #}
{% if item.redirect_http_to_https is defined %}
server {
    listen       80;
    server_name  {{ item.server_name }};
    return       301 https://{{ item.server_name.split(' ')[0] }}$request_uri;
}
{% endif %}


server {

{# --- listen port --- #}
    listen {{ item.listen | default('80') }};

{# --- server_name --- #}
    server_name {{ item.server_name | default('_') }};

{# --- root --- #}
    root {{ item.root | default('/usr/share/nginx/html')  }};

{# --- index --- #}
    index {{ item.index | default('index.html index.htm index.php') }};

{# --- log --- #}
{% if item.error_page is defined %}
    error_page {{ item.error_page }};
{% endif %}
{% if item.access_log is defined %}
    access_log {{ item.access_log }};
{% endif %}
{% if item.error_log is defined %}
    error_log {{ item.error_log }} error;
{% endif %}

{# --- return --- #}
{% if item.return is defined %}
    return {{ item.return }};
{% endif %}

{# --- cors --- #}
{% if item.active_cors is defined %}
    # Active CORS
    add_header Access-Control-Allow-Origin *;
    add_header Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS";
    add_header Access-Control-Allow-Headers "Accept,Authorization,Cache-Control,Content-Type,DNT,If-Modified-Since,Keep-Alive,Origin,User-Agent,X-Requested-With";
    add_header Access-Control-Allow-Credentials true;
{% endif %}

{# --- php --- #}
{% if item.active_php is defined %}
    location ~ \.php$ {
            include fastcgi_params;
            fastcgi_pass 127.0.0.1:9000;
            fastcgi_index index.php;
            fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    }
{% endif %}

{# --- reverse proxy --- #}
{% if item.reverse_proxy is defined %}
{% for rev_proxy in item.reverse_proxy %}
    location {{ rev_proxy.location }} {
{% if rev_proxy.active_cors is defined %}
        # Active CORS
        add_header Access-Control-Allow-Origin *;
        add_header Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS";
        add_header Access-Control-Allow-Headers "Accept,Authorization,Cache-Control,Content-Type,DNT,If-Modified-Since,Keep-Alive,Origin,User-Agent,X-Requested-With";
        add_header Access-Control-Allow-Credentials true;
{% endif %}
{% if rev_proxy.active_common_headers is defined %}
        proxy_http_version  1.1;
        proxy_cache_bypass  $http_upgrade;
        proxy_set_header Upgrade           $http_upgrade;
        proxy_set_header Connection        "upgrade";
        proxy_set_header Host              $host;
        proxy_set_header X-Real-IP         $remote_addr;
        proxy_set_header X-Forwarded-For   $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header X-Forwarded-Host  $host;
        proxy_set_header X-Forwarded-Port  $server_port;
{% endif %}
        proxy_pass {{ rev_proxy.proxy_pass }};
    }
{% endfor %}
{% endif %}

{# --- location alias --- #}
{% if item.location_alias is defined %}
{% for loc_alias in item.location_alias %}
    location {{ loc_alias.location }} {
        alias {{ loc_alias.alias }};
    }
{% endfor %}
{% endif %}

{# --- extra parameters --- #}
{% if item.extra_parameters is defined %}
    {{ item.extra_parameters|indent(4) }}
{% endif %}
}
